.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    height: 60px;
}

.chat-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.chat-header h3 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.message-box {
    flex-grow: 1;
    margin-top: 10px;
    overflow-y: auto;
    padding: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.other-message {
    align-items: flex-start;
    max-width: 100%;
}

.my-message {
    align-items: flex-end;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.message-content {
    display: flex;
}

.sender-name {
    margin-left: 2px;
    margin-bottom: 5px;
}

.message-text {
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
}

.other-message .message-text {
    background-color: #f0f0f0;
    margin-right: 5px;
}

.my-message .message-text {
    background-color: #FFA32D;
    margin-left: 5px;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-time {
    font-size: 0.9rem;
}

.delete-button {
    visibility: hidden;
    background: none;
    border: none;
    cursor: pointer;
}

.messageInputSection {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 10px;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: #FFFAFA;
}

#sendButton {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-shrink: 0;
    width: 10%;
    padding: 10px;
    background-color: #FF8D00;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#sendButton:hover {
    background-color: #FF8D00;
}