<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="/member/css/register.css">
</head>
<body>
<div class="signup-container">
  <h1>로그인</h1>
  <form action="/login" method="post" id="signupForm" class="signup-form">
    <div class="form-group">
      <label for="email">이메일</label>
      <input type="email" id="email" name="email" class="input-field" placeholder="이메일을 입력하세요" required>
      <span class="error-message" id="emailError"></span>
    </div>

    <div class="form-group">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" class="input-field" placeholder="비밀번호를 입력하세요" required>
      <span class="error-message" id="passwordError"></span>
    </div>

    <button type="submit" class="submit-btn">로그인</button>

    <!-- 간편 가입 버튼 -->
    <div class="simple-signup">
      <span class="separator"></span>
      <span class="simple-signup-text">간편 로그인</span>
      <span class="separator"></span>
    </div>
    <div style="margin: 5px">
      <a href="/oauth2/authorization/kakao"><img class="margin10" src="/member/image/KakaoTalk_logo.svg" alt="kakao" width="50"/></a>
      <a href="/oauth2/authorization/naver"><img href="/oauth2/authorization/naver" class="margin10" src="/member/image/naver-icon-file.png" alt="naver" width="50"/></a>
      <a href="/oauth2/authorization/google"><img href="/oauth2/authorization/google" class="margin10" src="/member/image/Google_logo.svg" alt="google" width="50"/></a>
    </div>
  </form>
</div>

<script src="/member/js/login.js"></script>
</body>
</html>
