<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}">>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="/member/css/my-page.css">
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
  <div class="wrap container w-75" style="margin-right: 500px">
    <div class="orangeContainer">
      <div>
        <i class="fas fa-regular fa-hospital-user fa-5x" style="color: black"
           sec:authorize="hasRole('USER')"></i>
        <i class="fas fa-light fa-user-doctor fa-5x"
           sec:authorize="hasRole('DOCTOR')"></i>
      </div>
      <div align="end">
        <div id="name"></div>
        <small id="email"></small>
      </div>
    </div>
    <svg viewBox="0 0 1440 200" style="background: white">
      <path fill="#FF8D00"
            d="M0,160L48,154.7C96,149,192,139,288,133.3C384,128,480,128,576,144C672,160,768,192,864,197.3C960,203,1056,181,1152,170.7C1248,160,1344,160,1392,160L1440,160L1440,320L0,320Z"
            transform="scale(1, -1) translate(0, -200)">
      </path>
    </svg>
    <div class="listContainer">
      <a href="/my-page/counsels" class="item">
        <div class="icon">❓</div>
        <div class="text">상담 내역</div>
        <div class="right"> ></div>
      </a>
      <a href="/chat/chat-rooms" class="item">
        <div class="icon">💬</div>
        <div class="text">실시간 상담 내역</div>
        <div class="right"> ></div>
      </a>
      <div href="#" class="item">
        <div class="icon">🏥</div>
        <div class="text">찜한 병원</div>
        <div class="right"> ></div>
      </div>
      <div id="doctor-verification" class="item" sec:authorize="hasRole('USER')">
        <div class="icon">🩺</div>
        <div class="text">의사 인증하기</div>
        <div class="right"> ></div>
      </div>
      <a href="/my-page/comments" class="item" sec:authorize="hasRole('DOCTOR')">
        <div class="icon">✅</div>
        <div class="text">내 답변 내역</div>
        <div class="right"> ></div>
      </a>
    </div>
    <div class="listContainer">
      <!--    <a href="#" class="item">-->
      <!--      <div class="icon">ii</div>-->
      <!--      <div class="text">-->
      <!--        <span>내지갑</span>-->
      <!--        <span class="smallLight">-->
      <!--            <span>|</span>-->
      <!--            <span>보유 적립금</span>-->
      <!--          </span>-->
      <!--      </div>-->
      <!--      <div class="right">-->
      <!--        <span class="blct">175 BLCT</span>-->
      <!--        > </div>-->
      <!--    </a>-->
      <div class="item" data-bs-toggle="modal" data-bs-target="#update-name">
        <div class="icon">🪪</div>
        <div class="text">닉네임 변경</div>
        <div class="right"> ></div>
      </div>
      <a href="/update-password" class="item">
        <div class="icon">🔒</div>
        <div class="text">비밀번호 변경</div>
        <div class="right"> ></div>
      </a>
      <div id="quit" class="item" data-bs-toggle="modal" data-bs-target="#quit-modal">
        <div class="icon">🚪</div>
        <div class="text">회원 탈퇴</div>
        <div class="right"> ></div>
      </div>
    </div>
    <!--  <div class="infoContainer">-->
    <!--  </div>-->
  </div>
  <div class="modal fade" id="update-name" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          기존 닉네임: <span id="current-name"></span>
          <br>
          <input id="name-input" class="form-control"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button id="name-confirm-button" type="button" class="btn btn-primary">변경사항 저장</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="quit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          현재 비밀번호를 입력하세요 <br>
          <input id="password-input" type="password" class="form-control"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button id="quit-confirm-button" type="button" class="btn btn-primary">변경사항 저장</button>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="/member/js/my-page.js"></script>
  <script src="/common/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
