<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리동네병원-회원가입</title>
    <link rel="icon" href="/images/logo-icon.png">
    <link rel="stylesheet" href="/member/css/register.css">
    <link rel="stylesheet" href="/common/css/bootstrap.min.css">
</head>
<body>
<div class="signup-container">
    <h1 style="text-align: center">회원가입</h1>
    <form id="signupForm" class="signup-form needs-validation d-flex flex-column justify-content-start">
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" class="input-field form-control" placeholder="이메일을 입력하세요" required>
            <small class="invalid-feedback" style="font-size: 12px">이메일 형식에 맞게 입력해주세요</small>
            <span class="error-message" id="emailError"></span>
        </div>

        <div class="form-group">
            <label for="name">닉네임</label>
            <input type="text" id="name" name="name" class="input-field form-control" minlength="2" maxlength="8" placeholder="닉네임을 입력하세요" required>
            <small class="invalid-feedback" style="font-size: 12px">닉네임은 2자 이상 8자이하로 입력해주세요</small>
        </div>

        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="input-field form-control" placeholder="비밀번호를 입력하세요"
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" required>
            <div class="invalid-feedback align-item-start">
                <div id="lengthCheck" style="font-size: 12px">❌ 8자 이상</div>
                <div id="uppercaseCheck" style="font-size: 12px">❌ 대문자 포함</div>
                <div id="specialCheck" style="font-size: 12px">❌ 특수 기호 포함</div>
                <div id="numberCheck" style="font-size: 12px">❌ 숫자 포함</div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">비밀번호 확인</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="input-field form-control" placeholder="비밀번호 확인" required>
            <span class="error-message" id="confirmPasswordError"></span>
            <small class="invalid-feedback" style="font-size: 12px">비밀번호가 일치하지 않습니다.</small>
        </div>
        <button id="submit-button" type="button" class="submit-btn">회원가입</button>
        <button id="verify-button" type="button" class="submit-btn" style="display: none">인증완료</button>

        <!-- 간편 가입 버튼 -->
        <div class="simple-signup">
            <span class="separator"></span>
            <span class="simple-signup-text">간편 가입</span>
            <span class="separator"></span>
        </div>
        <div style="margin: 5px; text-align: center">
            <a href="/oauth2/authorization/kakao"><img class="margin10" src="/images/KakaoTalk_logo.svg" alt="kakao" width="50"/></a>
            <a href="/oauth2/authorization/naver"><img href="/oauth2/authorization/naver" class="margin10" src="/images/naver-icon-file.png" alt="naver" width="50"/></a>
            <a href="/oauth2/authorization/google"><img href="/oauth2/authorization/google" class="margin10" src="/images/Google_logo.svg" alt="google" width="50"/></a>
        </div>
    </form>
</div>

<script type="module" src="/member/js/userRegister.js"></script>
<script src="/common/js/bootstrap.bundle.min.js"></script>
</body>
</html>
