.fa-bell {
    position: relative;
    font-size: 1.5rem;
}

#notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.3rem;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    z-index: 10;
    background-color: #FF8D00;
    color: #FFFFFF;
}

.nav-item {
    position: relative;
}

.dropdown-menu {
    min-width: 150px;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:hover {
    background-color: #F1F1F1;
}

#notification-list {
    width: 250px;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    height: auto;
}

.dropdown-item .btn {
    margin-left: 10px;
}

.dropdown-content {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.dropdown-side-content {
    display:flex;
    width: 100%;
    flex-grow: 1;
}

.content-massage {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.dropdown-side-content {
    font-size: 0.6rem;
}

.content-sender {
    margin-right: 5px;
}