<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/license/css/in-progress.css">
</head>
<body>
<!-- Multi step form -->
<section class="multi_step_form">
  <form id="msform">
    <!-- Tittle -->
    <div class="tittle">
      <h2>본인 인증을 완료해주세요</h2>
      <!--            <p>In order to use this service, you have to complete this verification process</p>-->
    </div>
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Verify Phone</li>
      <li>Upload Documents</li>
      <li>Security Questions</li>
    </ul>
    <!-- fieldsets -->
    <button onclick="window.close()" type="button" class="action-button previous previous_button">취소</button>
    <a onclick="complete()" href="#" class="action-button">인증 완료</a>
    </fieldset>
  </form>
</section>
</body>
<script type="module" src="/license/js/in-progress.js"></script>
</html>