<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>카테고리 선택</title>
</head>
<body>
    <div layout:fragment="content">
        <h3>어떤 병원을 찾으세요?</h3>
        <div th:each="category : ${categories}">
            <a th:text="${category.name}"
               th:data-category-id="${category.id}"
               th:data-category-name="${category.name}"
               href="#"
               onclick="goToSearch(event, this)"></a>
        </div>


        <script>
            function goToSearch(event, element) {
                event.preventDefault();

                let categoryId = element.getAttribute("data-category-id");
                let categoryName = element.getAttribute("data-category-name");

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        let latitude = position.coords.latitude;
                        let longitude = position.coords.longitude;

                        let url = `/search/${encodeURIComponent(categoryName)}?categoryId=${categoryId}&latitude=${latitude}&longitude=${longitude}`;
                        window.location.href = url;
                    }, function () {
                        let url = `/search/${encodeURIComponent(categoryName)}?categoryId=${categoryId}&latitude=37.5665&longitude=126.9780`;
                        window.location.href = url;
                    });
                } else {
                    alert("이 브라우저에서는 위치 정보를 지원하지 않습니다.");
                }
            }
        </script>
    </div>
</body>
</html>
