<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상담 상세 페이지</title>
  <link rel="stylesheet" href="/counsel/css/detail.css">
</head>
<body>

<div class="counsel-detail-container">
  <div id="title" class="counsel-title">제목</div>
  <div class="counsel-meta"><span id="name">홍길동</span> | <span id="time">n초 전</span></div>
  <div id="content" class="counsel-content">
    내용
  </div>
</div>
<script type="module" src="/counsel/js/detail.js"></script>
</body>
</html>
